.header {
  background-color: #fff;

  padding: 12px 64px;
  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header nav li {
  list-style: none;
  letter-spacing: 0.05em;
}
