* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f0f2f5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 32px 64px;
}

button,
input {
  all: unset;
}
